{{# each records }}
	<div class="row p-3">
	{{# each this }}
		<div class="col-md-4 col-md-offset-3">
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">{{this.name}}</h5>
			    <p class="card-text">Name: {{this.name}}<br>
			    	Type: {{this.type}}<br>
			    	Year: {{this.year}}</p>
			    <div>
				    <a href="#{{this.ID}}" class="btn btn-primary float-left">Veiw</a>
				    <button onclick="deleteRecord('{{this.ID}}')" class="btn btn-danger float-right">Delete</button>
			    </div>
			  </div>
			</div>
		</div>
	{{/each}}
	</div>
{{/each}}

<div class="row p-3">
	<div class="col-md-4 col-md-offset-3">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title"><div id='title'>Add a title</div></h5>
		    <form action="/record-books" method="post">
			    <p class="card-text">
			    	Name: <input onchange="next()" type="text" name="name" id='nameInput'><br>
			    	Type: <input onchange="next()" type="text" name="type" id='typeInput'><br>
			    	Year: <input onchange="next()" type="text" name="year" id='yearInput'>
			    </p>
			    <button type="submit" class="btn btn-success" id='submit'>Add</button>
		    </form>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#nameInput').keyup(function() {
		$('#title').html($('#nameInput').val());
	});

	$( document ).ready(function() {
		//set script config
		enjoyhint_instance.set(tours.recordBooksPage);

		//run Enjoyhint script
		if(sessionStorage.getItem('onTour')=='true'){
			enjoyhint_instance.run();
		}
	});

	function deleteRecord(ID){
		$.ajax({
   			url: '/record-books',
			data: { ID: ID },
   			type: 'DELETE',
   			success: function(data) {
   				window.location=data.url;
   			}
   		});
	}
	
	function next(){
		console.log("NEXT!")
		if(sessionStorage.getItem('onTour')=='true'){
			enjoyhint_instance.trigger('next');
		}
	}
</script>